header{
    background-color: rgb(212, 85, 85);
    h1{
        color:white;
        text-shadow: 2px 2px black;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    ul li{
        display: inline;
        padding: 10px;
        list-style: none;
        text-decoration: none;
    }
    li a{
        list-style: none;
        font-size: large;
        text-decoration: none;
        color:black;
        font-size: 30px;
        text-shadow:  2px 2px gainsboro;
    }
    ul li a{
        padding: 10px;
    }
    ul li a:hover{
        opacity:0.7;
        font-size: 40px;
        background-color: rgb(209, 63, 63);
        color:black;
        text-shadow:  1px 1px rgb(204, 204, 106);
    }
}