body{
    margin:0;
     #layout-main{
         height: auto;
         min-height: 100%;
     }
}

#google button a{
    list-style: none;
    color:white;
}

#google button{
    list-style: none;
    color:white;
    background-color: rgb(214, 67, 67);
    padding: 10px;
    border-radius: 20px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}