li p {
  display: flex;
  flex-direction: column-reverse; }

li p small {
  color: whitesmoke; }

li {
  list-style: none;
  background-color: #aa4c4c;
  margin-left: 0px;
  padding: 10px;
  margin: 5px;
  border-radius: 10px; }
